@{
    ViewData["Title"] = "Employee Maintenance - Add";
}

@model Employees
<div class="header">
    
    <ol class="breadcrumb">
        @Html.ValidationMessage("Error")
    </ol>

</div>
<div id="page-inner">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="card-title">
                        <div class="title">Add Employee</div>
                    </div>
                </div>
                <div class="panel-body">
                    <form method="post" asp-action="Add" asp-controller="Employees">
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label asp-for="EmpNo">Employee No.</label>
                                <input asp-for="EmpNo" type="text" class="form-control" placeholder="Employee Number">
                                <span asp-validation-for="EmpNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <select asp-for="Title" class="form-control">
                                    <option value="Mr.">Mr.</option>
                                    <option value="Ms.">Ms.</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="FirstName">First Name</label>
                                <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MiddleName">Middle Name</label>
                                <input asp-for="MiddleName" type="text" class="form-control" placeholder="Middle Name">
                                <span asp-validation-for="MiddleName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName">Last Name</label>
                                <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NickName">Nick Name</label>
                                <input asp-for="NickName" type="text" class="form-control" placeholder="Nick Name">
                                <span asp-validation-for="NickName" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Birthdate">Birthdate</label>
                                <input asp-for="Birthdate" type="date" class="form-control" placeholder="Birthdate">
                                <span asp-validation-for="Birthdate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Height">Height</label>
                                <input asp-for="Height" type="text" class="form-control" placeholder="Height">
                                <span asp-validation-for="Height" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Weight">Height</label>
                                <input asp-for="Weight" type="text" class="form-control" placeholder="Weight">
                                <span asp-validation-for="Weight" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label asp-for="DateHired">Date Hired</label>
                                <input asp-for="DateHired" type="date" class="form-control" placeholder="Date Hired">
                                <span asp-validation-for="DateHired" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Complexion">Complexion</label>
                                <input asp-for="Complexion" type="text" class="form-control" placeholder="Complexion">
                                <span asp-validation-for="Complexion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Position">Position</label>
                                <input asp-for="Position" type="text" class="form-control" placeholder="Position">
                                <span asp-validation-for="Position" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SSS">SSS Number</label>
                                <input asp-for="SSS" type="text" class="form-control" placeholder="SSS">
                                <span asp-validation-for="SSS" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TIN">Tax Identification Number (TIN)</label>
                                <input asp-for="TIN" type="text" class="form-control" placeholder="TIN">
                                <span asp-validation-for="TIN" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Pagibig">Pagibig Number</label>
                                <input asp-for="Pagibig" type="text" class="form-control" placeholder="Pagibig">
                                <span asp-validation-for="Pagibig" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Philhealth">Philhealth Number</label>
                                <input asp-for="Philhealth" type="text" class="form-control" placeholder="Philhealth">
                                <span asp-validation-for="Philhealth" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Passport">Passport Number</label>
                                <input asp-for="Passport" type="text" class="form-control" placeholder="Passport">
                                <span asp-validation-for="Passport" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 ">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a asp-action="Index" asp-controller="Employees" class="btn btn-default">Cancel</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>